/* Styling Applied to All Sheets */

/* [class*="col-"], .col {
    border: 1px dashed #dddddd;
    ;
} */

    body{
        margin: auto;
        align-content: center;
        background-image: url("assets/images/gplaypattern/gplaypattern/skyscraper.png");
    }

    #background{
        background: white;
    }

    #header_margin{
        margin-bottom: 20px;
        min-width: 100%;
    }

    #name_plate{
        padding-top: 15px;
        background: #4aaaa5;
        color: white;
        text-align: center;
        font-family: 'Georgia', Times, Times New Roman, serif;

    }

    .profile-photo{
        width: 60%;
        height: 35%;
        margin: 10px;
        float: left;
        
    }
    #contact_box{
        background: white;
    }

    #connect_icons{
        background: white;
    }

    #connect_photo{
        margin: 10px auto 20px auto;
    }

    h3{
        margin: 10px auto 10px auto;
        text-align: center;
    }

    #footer {
        padding: 30px 0;
        clear: both;
        font-size: 12px;
        color: #fff;
        color: #ccc;
        text-align: center;
        background: #666;
        border-top: 8px solid #4aaaa5;
        min-width: 100%;
        font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
      }

    #nav_bar{
        padding-top: 30px;
        background: white;
        color: lightgrey;
    }

    a{
        text-decoration: none;
        color: #777777;
        font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    }

    #main{
        background: white;
        padding: 20px;
        margin-bottom: 20px;
        margin-right: 40px;
        font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
        
    }

    .portfolio-pics{
        width: 100%;
        height: 100%;
        position: relative;
        }

    #hangman{
        background: #4aaaa5;
        color: white;
        text-align: center;
        font-family: 'Georgia', Times, Times New Roman, serif;
        width: 88%;
        top: 60%;
        height: 40px;
        position: absolute;
        z-index: 1;
        font-size: x-large;
    }

    #rpg{
        background: #4aaaa5;
        color: white;
        text-align: center;
        font-family: 'Georgia', Times, Times New Roman, serif;
        width: 88%;
        top: 60%;
        height: 40px;
        position: absolute;
        z-index: 1;
        font-size: x-large;
    }

    #trivia{
        background: #4aaaa5;
        color: white;
        text-align: center;
        font-family: 'Georgia', Times, Times New Roman, serif;
        width: 88%;
        top: 60%;
        height: 40px;
        position: absolute;
        z-index: 1;
        font-size: x-large;
    }

    #rutgers{
        background: #4aaaa5;
        color: white;
        text-align: center;
        font-family: 'Georgia', Times, Times New Roman, serif;
        width: 88%;
        top: 60%;
        height: 40px;
        position: absolute;
        z-index: 1;
        font-size: x-large;
    }

    #rps{
        background: #4aaaa5;
        color: white;
        text-align: center;
        font-family: 'Georgia', Times, Times New Roman, serif;
        width: 88%;
        top: 60%;
        height: 40px;
        position: absolute;
        z-index: 1;
        font-size: x-large;
    }
      /* Contact Sheet Styling */

      input[type=text], select, textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
    }
    
    input[type=submit] {
        background-color: #4aaaa5;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin-bottom: 20px;
    }
    
    input[type=submit]:hover {
        background-color: #d86508;
    }
    
    .container {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
    }

    /* Media query used specifically to uniformly adjust photos within the page */
    @media only screen and (max-width: 640px) {
        /* For mobile phones: */
            #hangman{
                width: 81%;
                top: 50%;
                font-size: medium;
                padding-top: 10px;
            }

            #rpg{
                width: 81%;
                top: 50%;
                font-size: medium;
                padding-top: 10px;
            }

            #trivia{
                width: 81%;
                top: 50%;
                font-size: medium;
                padding-top: 10px;
            }

            #rutgers{
                width: 81%;
                top: 50%;
                font-size: small;
                padding-top: 10px;
            }

            #rps{
                width: 81%;
                top: 50%;
                font-size: small;
                padding-top: 10px;
            }

            #connect_photo, img{
                height: 45px;
                width: 45px;
                align-content: center;
            }

            #footer {
                margin-top: 20px;
            }

            .profile-photo{
                height: 18%;
            }
        
        }

