/* Styling Applied to All Sheets */

[class*="col-"], .col {
    border: 1px dashed #ddd;
}

    body{
        margin: auto;
        align-content: center;
        background-image: url("../Responsive-Portfolio/Basic-Porfolio/assets/images/gplaypattern/gplaypattern/skyscraper.png");
    }

    #background{
        background: white;
    }

    #header_margin{
        margin-bottom: 20px;
        width: 100%;
    }

    #name_plate{
        padding-top: 15px;
        background: #4aaaa5;
        color: white;
        text-align: center;

    }

    #contact_box{
        background: white;
    }

    #connect_icons{
        background: white;
    }

    #connect_photo{
        margin: 10px auto 20px auto;
    }

    h3{
        margin: 10px auto 10px auto;
    }

    #footer{
        background: lightgrey;
        color: white;
        text-align: center;
        border-width: 2px;
        border-style: solid;
        border-top: 5px solid #4aaaa5;
        padding: 20px;
    }

    #nav_bar{
        padding-top: 30px;
        background: white;
        color: lightgrey;
    }

    a {
        text-decoration: none;
    }

    #main{
        background: white;
        padding: 20px;
        margin-bottom: 20px;
        margin-right: 40px;
    }

      /* Contact Sheet Styling */

      input[type=text], select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
    
    input[type=submit] {
        width: 100%;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    
    input[type=submit]:hover {
        background-color: #45a049;
    }
    
    #contact_form {
        border-radius: 5px;
        background-color: white;
        padding: 20px;
    }

